<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="suite1" verbose="1">
<!-- 开始并以 
	    <parameter name="username" value="huang.fen"/>
		<parameter name="password" value="1"/>
		-->
	<test name="test">
	<packages>
	<package name="src/main/java"/>
	<package name="src/main/resources"/>
	<package name="src/test/java"/>
	</packages>
	</test>
</suite>